---
// You can import other components here if needed.
// Feel free to delete this Frontmatter script if not needed.
---

<p>MyComponent works!</p>

<style lang="scss">
  p {
    color: #ff5c01;
  }
</style>
